.containerWallet {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

.btnConnectWallet {
    background-color: #5ed389;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btnDisconnectWallet {
    background-color: #e07878;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

.btnInfoWallet {
    background-color: #229cda;
    color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.containerInfoWallet {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 10px;
}

.walletAddress {
    font-size: 12px;
    font-weight: bold;
}

.chainId {
    font-size: 12px;
    font-weight: bold;
}